MAX_ACCEL_TYPES = 4
MAX_METADATA_POOL_BLOCKS = 32
MAX_DATA_SPACE_BYTES = 131136
MAX_TASK_TIMING_SETS = 16
SCHEDULER_HOLDOFF_USEC = 1
META_POLICY = ../../sched_library/meta_policies/libpolicy-ms.so
TASK_POLICY = ../../sched_library/task_policies/libpolicy-v1.so
VISUALIZER_OUTPUT_ENABLED = 0
VISUALIZER_TASK_START_COUNT = -1 
VISUALIZER_TASK_STOP_COUNT = 0
VISUALIZER_TASK_ENABLE_TYPE = -1
SL_VIZ_FNAME = ./sl_viz_me_p2.tr
MAX_ACCEL_TO_USE_FROM_POOL_SCHED_CPU_ACCEL_T = -1
MAX_ACCEL_TO_USE_FROM_POOL_SCHED_EPOCHS_1D_FFT_ACCEL_T = -1
MAX_ACCEL_TO_USE_FROM_POOL_SCHED_EPOCHS_VITDEC_ACCEL_T = -1
MAX_ACCEL_TO_USE_FROM_POOL_SCHED_EPOCHS_CV_CNN_ACCEL_T = -1
